{% extends 'base.html' %}

{% block home %}
    <!-- GRID -->
<div class="ui grid">
  <div class="four wide column">
      <div class="ui segment">
          <h1>Nome Produto1</h1>
          <div class="ui divider"></div>
          <div> FOTO DO PRODUTO . PNG</div>
      </div>
  </div>

  <div class="four wide column">
      <div class="ui segment">
          <h1>Nome Produto2</h1>
          <div class="ui divider"></div>
          <div> FOTO DO PRODUTO . PNG</div>
      </div>
  </div>

  <div class="four wide column">
      <div class="ui segment">
          <h1>Nome Produto3</h1>
          <div class="ui divider"></div>
          <div> FOTO DO PRODUTO . PNG</div>
      </div>
  </div>

  <div class="four wide column">
      <div class="ui segment">
          <h1>Nome Produto4</h1>
          <div class="ui divider"></div>
          <div> FOTO DO PRODUTO . PNG</div>
      </div>
  </div>
</div>
{% endblock %}