{% extends 'base.html' %}

{% block logado %}
{% if user.is_authenticated %}
  <a class="item" href="#">{{ user.username }}</a>
  <a class="item" href="{% url 'appusuario:logout' %}">Sair</a>
{% else %}
  <a class="item" href="{% url 'appusuario:login' %}">Sign in</a>
  <a class="item" href="{% url 'appusuario:user_create_view' %}">Sign Up</a>
{% endif %}
{% endblock %}

{% block home %}
    <!-- GRID -->
<div class="ui grid">
  <div class="four wide column">
      <div class="ui segment">
          <h1>Nome Produto1</h1>
          <div class="ui divider"></div>
          <div> FOTO DO PRODUTO . PNG</div>
      </div>
  </div>

  <div class="four wide column">
      <div class="ui segment">
          <h1>Nome Produto2</h1>
          <div class="ui divider"></div>
          <div> FOTO DO PRODUTO . PNG</div>
      </div>
  </div>

  <div class="four wide column">
      <div class="ui segment">
          <h1>Nome Produto3</h1>
          <div class="ui divider"></div>
          <div> FOTO DO PRODUTO . PNG</div>
      </div>
  </div>

  <div class="four wide column">
      <div class="ui segment">
          <h1>Nome Produto4</h1>
          <div class="ui divider"></div>
          <div> FOTO DO PRODUTO . PNG</div>
      </div>
  </div>
</div>
{% endblock %}