{% extends 'base.html' %}

{% block logado %}
{% if user.is_authenticated %}
  <a class="item" href="{% url 'appusuario:update_user_view' pk=user.id %}">{{ user.username }}</a>
  <a class="item" href="{% url 'appusuario:logout' %}">Sair</a>
{% else %}
  <a class="item" href="{% url 'appusuario:login' %}">Sign in</a>
  <a class="item" href="{% url 'appusuario:user_create_view' %}">Sign Up</a>
{% endif %}
{% endblock %}

{% block user_create_form %}


<form class="ui form" method="post">

  {% csrf_token %}
    {{ form.as_p }}

  <input class="ui red button" type="submit" value="Cadastrar">
</form>

{% endblock %}